<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">

	<th:block th:fragment="content">
		<div class="container">
			<h2>Board List Page</h2>

			<div style="width: 1200px; margin: 0 auto;">

				<form action="/board/list" method="get">
					<div class="input-group mb-3">

						<br>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">bno</th>
									<th scope="col">제목</th>
									<th scope="col">작성자</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="bvo:${list}">
									<th scope="row">[[${bvo.bno}]]</th>
									<td><a th:href="|/board/detail?bno=${bvo.bno}|">[[${bvo.title}]]</a></td>
									<td>[[${bvo.writer}]]</td>
								</tr>
								</th:Each>
							</tbody>
						</table>

					</div>
				</form>

			</div>
			</div>
	</th:block>

</th:block>